<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.liangfeng.study.goods.mapper.GoodsMapper">

	<!-- 类映射 -->
	<resultMap id="RM_Goods" type="com.liangfeng.study.goods.model.auto.pojo.Goods">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="goodsName" column="goods_name" jdbcType="VARCHAR" />
		<result property="goodsType" column="goods_type" jdbcType="VARCHAR" />
		<result property="price" column="price" jdbcType="DECIMAL" />
		<result property="producer" column="producer" jdbcType="VARCHAR" />
		<result property="produceDate" column="produce_date" jdbcType="DATE" />
		<result property="creTime" column="cre_time" jdbcType="TIMESTAMP" />
		<result property="mdyTime" column="mdy_time" jdbcType="TIMESTAMP" />
		<result property="creUser" column="cre_user" jdbcType="BIGINT" />
		<result property="mdfUser" column="mdf_user" jdbcType="BIGINT" />
	</resultMap>

	<!-- 用于select查询公用的列 -->
	<sql id="columns">
	    <![CDATA[
		id,goods_name,goods_type,price,producer,produce_date,cre_time,mdy_time,cre_user,mdf_user
	    ]]>
	</sql>

	<!-- 用于select查询公用的条件  -->
	<sql id="where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>
			<if test="@Ognl@isNotEmpty(id)">
				AND id = #{id,jdbcType=BIGINT}
			</if>
			<if test="@Ognl@isNotEmpty(goodsName)">
				AND goods_name = #{goodsName,jdbcType=VARCHAR}
			</if>
			<if test="@Ognl@isNotEmpty(goodsType)">
				AND goods_type = #{goodsType,jdbcType=VARCHAR}
			</if>
			<if test="@Ognl@isNotEmpty(price)">
				AND price = #{price,jdbcType=DECIMAL}
			</if>
			<if test="@Ognl@isNotEmpty(producer)">
				AND producer = #{producer,jdbcType=VARCHAR}
			</if>
			<if test="@Ognl@isNotEmpty(produceDateBegin)">
				AND produce_date >= #{produceDateBegin,jdbcType=DATE}
			</if>
			<if test="@Ognl@isNotEmpty(produceDateEnd)">
				AND produce_date &lt;= #{produceDateEnd,jdbcType=DATE}
			</if>
			<if test="@Ognl@isNotEmpty(creTimeBegin)">
				AND cre_time >= #{creTimeBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="@Ognl@isNotEmpty(creTimeEnd)">
				AND cre_time &lt;= #{creTimeEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="@Ognl@isNotEmpty(mdyTimeBegin)">
				AND mdy_time >= #{mdyTimeBegin,jdbcType=TIMESTAMP}
			</if>
			<if test="@Ognl@isNotEmpty(mdyTimeEnd)">
				AND mdy_time &lt;= #{mdyTimeEnd,jdbcType=TIMESTAMP}
			</if>
			<if test="@Ognl@isNotEmpty(creUser)">
				AND cre_user = #{creUser,jdbcType=BIGINT}
			</if>
			<if test="@Ognl@isNotEmpty(mdfUser)">
				AND mdf_user = #{mdfUser,jdbcType=BIGINT}
			</if>
		</where>
	</sql>
	
	<!-- 插入-->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO sdc_goods
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,
			<if test="goodsName != null">
				goods_name,
			</if>
			<if test="goodsType != null">
				goods_type,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="producer != null">
				producer,
			</if>
			<if test="produceDate != null">
				produce_date,
			</if>
			<if test="creTime != null">
				cre_time,
			</if>
			<if test="mdyTime != null">
				mdy_time,
			</if>
			<if test="creUser != null">
				cre_user,
			</if>
			<if test="mdfUser != null">
				mdf_user,
			</if>
		</trim>

		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{id},
			<if test="goodsName != null">
				#{goodsName,jdbcType=VARCHAR},
			</if>
			<if test="goodsType != null">
				#{goodsType,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="producer != null">
				#{producer,jdbcType=VARCHAR},
			</if>
			<if test="produceDate != null">
				#{produceDate,jdbcType=DATE},
			</if>
			<if test="creTime != null">
				#{creTime,jdbcType=TIMESTAMP},
			</if>
			<if test="mdyTime != null">
				#{mdyTime,jdbcType=TIMESTAMP},
			</if>
			<if test="creUser != null">
				#{creUser,jdbcType=BIGINT},
			</if>
			<if test="mdfUser != null">
				#{mdfUser,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE sdc_goods
		<set>
			<if test="goodsName != null">
				goods_name = #{goodsName,jdbcType=VARCHAR} ,
			</if>
			<if test="goodsType != null">
				goods_type = #{goodsType,jdbcType=VARCHAR} ,
			</if>
			<if test="price != null">
				price = #{price,jdbcType=DECIMAL} ,
			</if>
			<if test="producer != null">
				producer = #{producer,jdbcType=VARCHAR} ,
			</if>
			<if test="produceDate != null">
				produce_date = #{produceDate,jdbcType=DATE} ,
			</if>
			<if test="creTime != null">
				cre_time = #{creTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="mdyTime != null">
				mdy_time = #{mdyTime,jdbcType=TIMESTAMP} ,
			</if>
			<if test="creUser != null">
				cre_user = #{creUser,jdbcType=BIGINT} ,
			</if>
			<if test="mdfUser != null">
				mdf_user = #{mdfUser,jdbcType=BIGINT} 
			</if>
		</set>
		WHERE
		id = #{id,jdbcType=BIGINT} 
	</update>

	<!-- 删除 -->
	<delete id="delete">
	    <![CDATA[
	        DELETE FROM sdc_goods WHERE
	        id = #{id} 
	    ]]>
	</delete>


	<!-- 根据主键获取 -->
	<select id="get" resultMap="RM_Goods">
		SELECT
		<include refid="columns" />
	    <![CDATA[
		    FROM sdc_goods 
	        WHERE 
		        id = #{id} 
	    ]]>
	</select>

	<!-- 统计 -->
	<select id="count" resultType="java.lang.Integer">
		SELECT count(*) FROM sdc_goods
		<include refid="where" />
	</select>
	

	<!-- 查询 -->
	<select id="query" resultMap="RM_Goods">
		SELECT
		<include refid="columns" />
		FROM sdc_goods
		<include refid="where" />
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<!-- 分页查询 -->
	<select id="queryPage"  resultMap="RM_Goods">
		SELECT
		<include refid="columns" />
		FROM sdc_goods
		<include refid="where" />
		<if test="sortColumns != null">
			ORDER BY ${sortColumns}
		</if>
		LIMIT #{begin},#{pageSize}
	</select>

</mapper>

