<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 日志输出路径 -->
    <springProperty scope="context" name="APP_LOG_PATH" source="app.log.path"/>

    <!-- 应用名称 -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- 应用包路径 -->
    <springProperty scope="context" name="APP_PACKAGE_NAME" source="app.basePackage"/>

    <!-- 文件输出格式 -->
    <!-- <property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />-->
    <property name="CONSOLE_PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) [%yellow(%21thread)] --- [%X{uuid},%X{remoteAddr},%X{requestURI},%X{userId}] --- %green(%-50c{50}) [%blue(%4L)] : %msg%n"/>
    <property name="FILE_PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) %-5level [%21thread] --- [%X{uuid},%X{remoteAddr},%X{requestURI},%X{userId}] --- %-50c{50} [%4L] : %msg%n"/>

    <!-- 文件输出路径 -->
    <property name="FILE_PATH" value="${APP_LOG_PATH}/${APP_NAME}/"/>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_PATTERN}</pattern>
            </encoder>
        </appender>

        <logger name="${APP_PACKAGE_NAME}" level="DEBUG"/>

        <logger name="jdbc.connection" level="OFF" />
        <logger name="jdbc.audit" level="OFF" />
        <logger name="jdbc.resultset" level="OFF" />
        <logger name="jdbc.sqlonly" level="OFF" />
        <logger name="jdbc.sqltiming" level="INFO" />

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <!-- 每天产生一个文件 -->
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${FILE_PATH}/${APP_NAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${FILE_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log.%i</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>30</MaxHistory>
                <!-- 文件超过50M则分割 -->
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>50MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>

            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>
        </appender>

        <root level="info">
            <appender-ref ref="TEST-FILE"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${FILE_PATH}/${APP_NAME}.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${FILE_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.log.%i</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>30</MaxHistory>
                <!-- 文件超过50M则分割 -->
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>50MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${FILE_PATTERN}</pattern>
            </layout>
        </appender>

        <root level="info">
            <appender-ref ref="PROD_FILE"/>
        </root>
    </springProfile>
</configuration>
